
.flex {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    align-items: center;
    word-spacing: 5px;
    font-weight: 500;
}

h3 {
    color: red;
}

img{
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
}